.App {
  text-align: center;
}

.discountsbck {
  background-color: rgb(255, 191, 80);
}

.discountButton {
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  background-color: transparent;
  padding-left: 40px;
  padding-right: 40px;
  
}

.discountsRow {
  align-items: center;
}

.discountsText {
  color: white;
  font-size:x-large;
  padding: 70px;
}